html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
}


/*
@font-face {
    font-family: 'title';
    src: url(Fonts/PL.ttf);
}
*/

body {
    background-color: #ffff;
}

.container {
    height: 100vh;
    max-width: 100%;
    position: relative;
}

.title-background {
    height: 100vh;
    max-width: 100%;
    position: relative;
    background-image: url(images/tax-min3.jpeg);
    /*    https://techrise.s3.amazonaws.com/uploads/post/featured_image/11/photo-1454165804606-c3d57bc86b40.jpeg*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.title-heading {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.27);
}

.title-heading h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 2.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
    /*    font-family: title;*/
    text-shadow: 1px 1px 1px #000;
}

.title-heading h5 {
    color: #e6f9f5;
    margin: 5px 0;
    text-shadow: 1px 1px 1px #000;
}

.ghost-button {
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 1.2em;
    display: inline-block;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    padding: 8px;
    color: #fff;
    /*    border: 2px solid #fff;*/
    text-align: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0.27);
    text-decoration: none;
    -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, font-size 0.3s ease-out, line-height 0.3s ease-out;
    transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.ghost-button:hover,
.ghost-button:active {
    font-size: 1.3em;
    width: 220px;
    height: 35px;
    line-height: 35px;
}

.none {
    display: none;
}


/*second page*/


html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: mintcream;
    font-family: 'Cairo', sans-serif;
}


/*homepage*/

.ghost-button {
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 1.2em;
    display: inline-block;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    padding: 8px;
    color: #fff;
        border: 2px solid #fff;
    text-align: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0.27);
    text-decoration: none;
    -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, font-size 0.3s ease-out, line-height 0.3s ease-out;
    transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.ghost-button:hover,
.ghost-button:active {
    font-size: 1.3em;
    width: 220px;
    height: 35px;
    line-height: 35px;
}

header {
    background-color: #336699;
/*
    background-image: url(images/tax-min3.jpeg);
    background-position: top;
    background-size: cover;
*/
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 5vh;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 5vh;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.container {
    height: 95vh;
    width: 100%;
    color: #336699;
    background-color:  rgba(243, 243, 243, 0.58);
        
        
}

.calculator {
    width: 100%;
    height: 39vh;
    border-bottom: solid 1px grey;
}

.calculator__container {
    
    text-align: center;
}

.question {
    margin: 1vh 0;
}

#input {
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 248, 245);
    color:#4b477d;
}

.calculator__container h2 {
    margin: 0;
    font-size: 1.2em;
    
}

.label-header {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    padding-bottom: 2px;
}

input[type="radio"] {
    display: none;
}

.calculator__container .label-options {
    display: inline-block;
    border: 1px solid #08c;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.calculator__container input[type="radio"]:checked + .label-options {
    background: rgba(0, 136, 204, 0.25);
}

.calculator__container .label-options:hover {
    background: rgba(0, 136, 204, 0.25);
}


/*submit button*/

.ghost-button--submit {
    appearance: button;
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    border: none;
    width: 100px;
    height: 25px;
    
    background-color:  rgba(243, 243, 243, 0.58);;
    border: 1px solid #00CC88;
    outline: none;
    font-size: 0.9em;
    color: #00CC88;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 200;
    font-family: lato, sans-serif;
    transition: 0.3s background;
    margin-top: 1vh;
}

.ghost-button--submit:hover,
.ghost-button--submit:active {
    background: rgba(0, 204, 136, 0.25);
}


/*panel 2*/

.results {
    width: 100%;
    height: 55vh;
}

.results__container{
    text-align: center;
    height: auto;
    width: auto;
}

.results__container h2{
    padding: 1vh 0;
    margin: 0;
    font-size: 1.2em;
    height: auto;
    width: auto;
}

.table{
    width: 95%;
    height:80%;
    font-size:0.9em;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
    border: 1px solid black;
    overflow-y: hidden;
}
.table-body{
    overflow-x:auto;
}
table,
tr,
td {
    border: 1px solid black;
}
th{
    background-color: #336699;
    color:white;
 }


tr:hover {
    background-color: #b3c9c7
}

.ghost-button--chart {
    appearance: button;
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    border: none;
    width: 100px;
    height: 28px;
    
    background-color:  rgba(243, 243, 243, 0.58);;
    border: 1px solid #00CC88;
    outline: none;
    font-size: 0.9em;
    color: #00CC88;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 200;
    font-family: lato, sans-serif;
    transition: 0.3s background;
    margin-top: 2vh;
}

.ghost-button--chart:hover,
.ghost-button--chart:active {
    background: rgba(0, 204, 136, 0.25);
}

.none{
    display: none;
}
/*panel 3*/

.results__chart-container{
    text-align: center;
    height: auto;
    width: auto;
    
}

.results__chart-container h2{
    padding: 1vh 0;
    margin: 0;
    font-size: 1.2em;
    height: auto;
    width: auto;
}

.selectpicker{
    width:50%;
    margin:0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
    background-color: #f3f8f5;
    text-transform: capitalize;
}

.chart{
    border: 1px solid black;
    height:60%;
    width: 60%;
    margin: 0 auto;
}

.ghost-button--back {
    appearance: button;
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    border: none;
    width: 100px;
    height: 28px;
    
    background-color:  rgba(243, 243, 243, 0.58);;
    border: 1px solid #00CC88;
    outline: none;
    font-size: 0.9em;
    color: #00CC88;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 200;
    font-family: lato, sans-serif;
    transition: 0.3s background;
    margin-top: 2vh;
}

.ghost-button--back:hover,
.ghost-button--back:active {
    background: rgba(0, 204, 136, 0.25);
}













/*page animations*/





/*media queries*/



